{% extends "base.html" %}
{% block content %}
<div class="card" style="max-width: 400px; margin: 0 auto;">
    <h2>Login</h2>
    <form method="POST" action="">
        <!-- Security: CSRF Protection -->
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div style="margin-top: 15px;">
            {{ form.submit(class="btn") }}
        </div>
    </form>
</div>
{% endblock %}
